.custom-snackbar {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
    color: white;
}

.status-icon {
    color: white;
}

.close-icon {
    color: white;
}