:root {
  --primary-color: #435261;
  --secondary-color: #8676b6;
  --page-background: white;
  --link-color: #2d6fb1;
  --base-font-size: 14px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}